.settings
.project
.cproject
stappler-build
stappler-build-shared
stappler-build-static
.DS_Store
xcuserdata
**/.idea
**/compile_commands.json
**/.cache
**/__pycache__
**/.clangd
**/.vscode

toolchains/hosts
toolchains/targets

/.build_number